* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 50px;
  background-color: #ff9a4b;
}
main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}
.box-1 {
  margin-right: 30px;
  padding: 10px;
  width: 300px;
  background-color: #eeeeee;
  position: relative;
}
.box-2 {
  margin-right: 30px;
  padding: 10px;
  width: 300px;
  background-color: #eeeeee;
  position: relative;
}
.box-3 {
  padding: 10px;
  width: 300px;
  background-color: #eeeeee;
  position: relative;
}
.step {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #ff9a4b;
  padding: 3px;
}
.img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}
.img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}
.img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}
h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
footer {
  height: 50px;
  background-color: #aaaaaa;
}
